@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap');

:root {
--marine: #b8e0df;
--marine2: #dff3f349;
--darkmarine:#b7d2ed54;

--lightblue: #706fac;
--blue: #000086;

--lightgray: #e6e4e7;
--gray: #c4c7cc;
--darkgray:  #85878b;

--black: black;
--white: white;
}

html{
    scroll-behavior: smooth;
    font-weight: 400;
    font-family: 'Rubik', sans-serif; 
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
    margin: 0;
    background-color: var(--white);
    position: absolute;
}

.phone{
    display: none;
}

.border{
    border-bottom: 2px solid var(--darkgray);  
    border-right: 2px solid var(--darkgray);  
    border-top: 2px solid var(--lightgray);  
    border-left: 2px solid var(--lightgray);    
}
.border_outside{
    border-bottom: 4px solid var(--darkgray);  
    border-right: 4px solid var(--darkgray);  
    border-top: 4px solid var(--lightgray);  
    border-left: 4px solid var(--lightgray);    
}
.border_inside{
    border-top: 2px solid var(--darkgray);  
    border-left: 2px solid var(--darkgray);  
    border-bottom: 2px solid var(--lightgray);  
    border-right: 2px solid var(--lightgray);   
}

@media screen and (max-width: 640px) {
    /* For mobile phones: */
    .phone{
        display: block;
    }

    #window{
        width: 100vw;
        height: 100vh;
        margin: 0;
        width: calc(100vw - 8px);
        height: calc(100vh - 8px);
        background-color: var(--gray);  
        border-bottom: 4px solid var(--darkgray);  
        border-right: 4px solid var(--darkgray);  
        border-top: 4px solid var(--lightgray);  
        border-left: 4px solid var(--lightgray); 
        overflow: hidden;
        display: flex;
        flex-flow: column;
        position: relative;
        transition: top 2s;
        top: 0;
        left: 0;
        z-index: 50;
    }

    #side_bar{
        min-width: calc(98% - 6px);
        min-height: 4vh;
        background-color: var(--blue);
        margin: 1%;
        color: var(--white);
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        border: 3px solid var(--lightblue);  
        
    }
    #side_bar p{
        margin: 0;
        padding: 0 5%;
        width: 20%;
        flex-grow: 1;
        font-size: clamp(20px,3vh,30px);
    }

    #side_bar #but{
        height: 2vh;
        width: 2vh;
        min-height: 12px;
        min-width: 12px;
        margin: 0 1%;
        background-color:  var(--gray);
        display: inline-block;
        cursor: pointer;
       /* position: relative;*/
       display: flex;
       text-align: center;

    }
    .bar3 {
        width: 90%;
        height: 0.5vh;
        min-height: 3px;
        margin: 0 auto;
        margin-bottom: 0.3vh;
        background-color: var(--darkgray);
        align-self: flex-end;

    }

    #but p{
        margin: 0 auto;
        color: var(--darkgray);
        font-weight: 800;
        font-family: 'Rubik', sans-serif;
        font-size: clamp(12px, 2.4vh, 100px);
        white-space: nowrap;
        align-self: center;

    }

    #container{
        flex: 1;
        background-color: var(--marine);
        width: calc(98% -6px);
        margin: 1%;
        margin-top: 0;
        border: 3px solid var(--marine2); 
  
    }

    #minimize{
        position: absolute;
        top: 0;
        left: 0;
        height: calc(100vh );
        width: calc(100vw );
        z-index: 49;
        padding: 0 10%;
        width: 80%;
        font-size: clamp(15px,6vw,25px);

    }
    #minimize div{
        max-width: 400px;
        margin: auto;
        position: relative;
        top: 40%;
        transform: translate(0,-50%);
        padding: 10px;
        border: 3px solid var(--darkgray);
        box-shadow: 10px 10px  var(--gray);    
        
    }
    #minimize p{
        height: auto;
        width: auto;
        word-wrap: break-word;
        margin-top: 0;
    }

    #close{
        width: clamp(250px,70vw,350px);
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 100;
        background-color: var(--gray);
        flex-flow: column;
        visibility: hidden;
    }
    #close .options{
        height: 54px;
        margin: 1%;
        margin-top: 0;
        background-color: var(--marine2);
    }
    #close #but{
        margin: 10px 30px;
        width: calc(50% - 64px);
        height: 30px;
        max-width: 130px;
        text-align: center;
        float: left;
        cursor: pointer;
        line-height:30px;
        background-color: var(--gray);
    }

    #close #but::before{
        content: "";
        clear: both;
    }
    

    
}

