@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap');

:root {
--marine: #039393;
--marine2: #c4c7cc75;
--darkmarine:#03939369;

--lightblue: #706fac;
--blue: #000086;

--lightgray: #e6e4e7;
--gray: #c4c7cc;
--darkgray:  #85878b;
--hovergray:#b1b2b6;

--black: black;
--white: white;
}

html{
    scroll-behavior: smooth;
    font-weight: 400;
    font-family: 'Rubik', sans-serif; 
    -webkit-tap-highlight-color: transparent;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
    margin: 0;
    background-color: var(--white);
    position: absolute;
}

.phone{
    display: none;
}

.border{
    border-bottom: 2px solid var(--darkgray);  
    border-right: 2px solid var(--darkgray);  
    border-top: 2px solid var(--lightgray);  
    border-left: 2px solid var(--lightgray);    
}
.border_outside{
    border-bottom: 4px solid var(--darkgray);  
    border-right: 4px solid var(--darkgray);  
    border-top: 4px solid var(--lightgray);  
    border-left: 4px solid var(--lightgray);    
}
.border_inside{
    border-top: 2px solid var(--darkgray);  
    border-left: 2px solid var(--darkgray);  
    border-bottom: 2px solid var(--lightgray);  
    border-right: 2px solid var(--lightgray);   
}

#container{
    flex: 1;
    background-color: var(--marine);
    width: calc(98% -6px);
    margin: 1%;
    margin-top: 0;
    border: 3px solid var(--marine2); 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: clamp(2px,2%,15px);
    padding: clamp(2px,2%,15px);
}
    .phone{
        display: block;
    }
    #console{
        position: relative;
        width: 100vw;
        height: 100vh;
        max-width: 1032px;
        max-height: 676px;
        margin: auto;
        top: 50%;
        transform: translate(0,-50%);
        z-index: 51;
    }
    #window{
        width: initial;
        height: initial;
        max-width: 1024px;
        max-height: 668px;
        margin: auto;
        width: calc(100vw - 8px);
        height: calc(100vh - 8px);
        background-color: var(--gray);  
        border-bottom: 4px solid var(--darkgray);  
        border-right: 4px solid var(--darkgray);  
        border-top: 4px solid var(--lightgray);  
        border-left: 4px solid var(--lightgray); 
        overflow: hidden;
        display: flex;
        flex-flow: column;
        position: absolute;
        transition: top 2s;
        top: 0;
        left: 0;
        z-index: 50;
    }

    #side_bar{
        min-width: calc(98% - 6px);
        height: 4vh;
        min-height: 30px;
        background-color: var(--blue);
        margin: 1%;
        color: var(--white);
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        border: 3px solid var(--lightblue);  
        
    }
    #side_bar p{
        margin: 0;
        padding: 0 5%;
        width: 20%;
        flex-grow: 1;
        font-size: clamp(20px,3vh,30px);
    }

    #side_bar #but{
        height: 2vh;
        width: 2vh;
        min-height: 15px;
        min-width: 15px;
        margin: 0 1%;
        background-color:  var(--gray);
        display: inline-block;
        cursor: pointer;
       /* position: relative;*/
       display: flex;
       text-align: center;

    }
    #side_bar #but:hover{
        background-color: var(--hovergray);
    }
    .bar3 {
        width: 90%;
        height: 0.5vh;
        min-height: 3px;
        margin: 0 auto;
        margin-bottom: 0.3vh;
        background-color: var(--darkgray);
        align-self: flex-end;

    }

    #but p{
        margin: 0 auto;
        color: var(--darkgray);
        font-weight: 800;
        font-family: 'Rubik', sans-serif;
        font-size: clamp(12px, 2.4vh, 100px);
        white-space: nowrap;
        align-self: center;

    }


    #minimize{
        position: absolute;
        top: 0;
        left: 50%;
        height: calc(100vh );
        width: calc(100vw );
        z-index: 49;
        margin: 0;
        width: clamp(50px,70%,400px);
        font-size: clamp(15px,6vw,25px);
        transform: translate(-50%,0);

    }
    #minimize div{
        max-width: 400px;
        margin: auto;
        position: relative;
        top: 45%;
        transform: translate(0,-50%);
        padding: 10px;
        border: 3px solid var(--darkgray);
        box-shadow: 10px 10px  var(--gray);    
        
    }
    #minimize p{
        height: auto;
        width: auto;
        word-wrap: break-word;
        margin-top: 0;
    }

    #close{
        width: clamp(250px,70vw,350px);
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 100;
        background-color: var(--gray);
        flex-flow: column;
        visibility: hidden;
    }
    #close .options{
        height: 54px;
        margin: 1%;
        margin-top: 0;
        background-color: var(--darkmarine);
    }
    #close #but{
        margin: 10px 30px;
        width: calc(50% - 64px);
        height: 30px;
        max-width: 130px;
        text-align: center;
        float: left;
        cursor: pointer;
        line-height:30px;
        background-color: var(--gray);
    }

    #close #but::before{
        content: "";
        clear: both;
    }

    #close #but:hover{
        background-color: var(--hovergray);
    }

    .box{
        cursor: pointer;
        text-align: center;
        display: flex;
        flex-direction: column;
        min-width: 88px;
        
    }
    .box:hover{
        background-color: var(--marine2);
    }

    .box .img{
        width: 100%;
        flex: 1;
        max-width: 90px;
        min-height: 90px;
        max-height: 120px;
        margin: 0 auto;
        background-size: clamp(10px, 100%, 140px);
        background-repeat: no-repeat;
        background-position: center bottom;
    }
    .box p{
        margin: 3% auto;
        justify-content: flex-end;
        font-size: clamp(18px,3vw,22px);
        color: var(--white);
        white-space: nowrap;
    }
    
    .about_me{
        grid-column: 1;
        grid-row: 1;
    }
    .about_me .img{
       background-image: url("img/about_me.png"); 
    }
    .my_skills{
        grid-column: 1;
        grid-row: 2;
    }
    .my_skills .img{
        background-image: url("img/my_skills.png");
        
    }
    .certificates{
        grid-column: 1;
        grid-row: 3;
    }
    .certificates .img{
        background-image: url("img/certificates.png");
    }
    .contact_me{
        grid-column: 1;
        grid-row: 4;
    }
    .contact_me .img{
        background-image: url("img/contact_me.png");
    }
    .robots{
        grid-column: 4;
        grid-row: 4;
    }
    .robots .img{
        background-image: url("img/robots.png");
    }
    .projects{
        grid-column: 5;
        grid-row: 4;
    }
    .projects .img{
        background-image: url("img/projects.png");
    }
    .services{
        grid-column: 5;
        grid-row: 1;
    }
    .services .img{
        background-image: url("img/services.png");
    }

@media screen and (max-width: 1224px) {
    #minimize {
        top: 5vh; 
    }
    #minimize div{
        top: 25%; 
    }
    #container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: clamp(2px,2%,15px);
        padding: clamp(2px,2%,15px);
    }
    #console{
        position: relative;
        width: 100vw;
        height: 100vh;
        max-width: 728px;
        max-height: 628px;
        border: none;
        margin: auto;
        top: 5vh;
        transform: translate(0,0);
    }
    #window{
        max-width: 720px;
        max-height: 620px;
    }
    .contact_me{
        grid-column: 2;
        grid-row: 3;
    }
    .robots{
        grid-column: 3;
        grid-row: 3;
    }
    .projects{
        grid-column: 4;
        grid-row: 3;
    }
    .services{
        grid-column: 4;
        grid-row: 1;
    }
}

@media screen and (max-width: 786px) {
    #minimize{
        top: 0; 
    }
    #minimize div{
        top: 40%; 
    }
    #container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: clamp(2px,2%,15px);
        padding: clamp(2px,2%,15px);
    }
    #console{
        position: relative;
        width: 100vw;
        height: 100vh;
        max-width: none;
        max-height: none;
        border: none;
        margin: auto;
        top: 0;
        transform: translate(0,0);
    }
    #window{
        max-width: none;
        max-height: none;
    }
    .contact_me{
        grid-column: 1;
        grid-row: 4;
    }
    .robots{
        grid-column: 2;
        grid-row: 4;
    }
    .projects{
        grid-column: 3;
        grid-row: 4;
    }
    .services{
        grid-column: 3;
        grid-row: 1;
    }

}

@media screen and (max-width: 374px) {
    #container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: clamp(5px,5%,20px);
        padding: clamp(5px,5%,20px);
    }
    .robots{
        grid-column: 2;
        grid-row: 4;
    }
    .services{
        grid-column: 2;
        grid-row: 2;
    }
    .projects{
        grid-column: 2;
        grid-row: 3;
    }
    .box p{
        font-size: 18px;
    }
}
@media screen and (max-height: 740px) {
    .box{
        min-width: 88px;
    }
    .box .img{
        max-width: 90px;
        min-height: 90px;
    }
    #container{
        display: grid;
        grid-gap: clamp(2px,2%,10px);
        padding: clamp(2px,2%,10px);
    }
    .box p{
        font-size: 18px;
    }
}

@media screen and (max-height: 658px) {
    #minimize{
        top: 0; 
    }
    #minimize div{
        top: 40%; 
    }
    #console{
        top: 0;
        max-height: none;
    }
    #window{
        max-height: none;
    }
    .box{
        min-width: 78px;
    }
    .box .img{
        max-width: 80px;
        min-height: 80px;
    }
    .box p{
        margin: 1% auto;;
    }
    #container{
        grid-gap: clamp(2px,1%,10px);
        padding: clamp(2px,1%,10px);
    }
}
